# Dart / Flutter
.dart_tool/
.packages
.pub/
build/
coverage/

# IDE
.idea/
*.iml
.vscode/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
a ndroid/.gradle/
android/local.properties

# iOS
Pods/
.symlinks/

# macOS
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/
